*{
    margin: 0;
    padding: 0;
  }
  html,body{
    font-family: 'Oswald', sans-serif;
    max-width: 1440px;
    margin: auto;
  }

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.logo {  
font-size: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;
margin-left: 80px;
margin-top: 30px;
margin-bottom: 30px;
}

.menu__items{
  display: flex;
  list-style-type: none;
}

.menu__item{
  padding-right: 46px;
}
.menu__item--border-right{
  padding-right: 80px;
}
.menu__link{
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.menu__link:hover{
text-decoration: underline;
}

.header__content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 622px;
  background-image: url("https://source.unsplash.com/vSuQJKZkt4U/1920x1080");
  background-position: center
}

.header__content-title{
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  
}

.header__content-title::after{
  content: '';
  display: block;
  height: 20px;
  border-top: 10px solid #817070;
  width: 25%;
  margin: auto;
}

.story{
  background-color: white;
}
.story__title, .blog__title, .subscribe__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: black;
  margin: 60px;
  text-align: center;
}

.story-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.story__image{
  max-width: 50%;
}

.story__text{
  max-width: 50%;
  font-weight: 300;
font-size: 20px;
line-height: 30px;
color: black;
margin-right: 2%;
margin-left: 2%;

}

.blog {
  background-color: #EFEFEF;
}
.blog__title{
  padding-top: 60px;
}
.blog__cards{
  display: flex;
  justify-content: space-between;
  padding-left: 102px;
  padding-right: 102px;
}
.card {
  width: 365px;
  background-color: white;
  margin-bottom: 65px;
}
.card-inner{
  padding: 20px;
}

.card__title{
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 24px;
}
.card__image{
  max-width: 100%;
}

.subscribe{
  height: 337px;
  width: 100%;
  background-color: #817070;
}
.subscribe__title{
  color: white;
  padding-top: 60px;
  margin-bottom: 28px;
}

.subscribe__email-input{
  display: block;
  background-color: #817070; 
  border: 3px solid white;
  width: 300px;
  height: 55px;
  margin:auto;
  } 

input::placeholder{
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

.subscribe__form-submit{
  display: flex;
  justify-content: center;
  width: 130px;
  height: 55px;
  background-color: white;
  margin: auto;
  margin-top: 28px;
}

.subscribe__submit-input{
  display: block;
  color: #817070;
  background-color: white;
  border: 0;
  font-weight: 500;
font-size: 20px;
text-transform: uppercase;
}
.footer{
  height: 72px;
}
.footer__text{
  font-weight: 300;
  font-size: 20px;
  line-height: 30px; 
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}